<h2>New Service</h2>

<% form_for(@service) do |f| %>
  <table>
    <tr><th><%= f.label :network_id %><td><%= collection_select(:service, :network_id,
			Network.find(:all), :id, :designation) %></tr>
    <tr><th><%= f.label :dateandtime %><td><%= datetime_select(:service, :dateandtime) %></tr>
    <tr><th><%= f.label :description %><td><%= f.text_field :description%></tr>
	</table>

	<p style="text-align: center">
		<%= f.submit "Create" %>
	</p>

<% end %>

<p class="navigation">
	<%= link_to 'Index', services_path %>
</p>
