<h2>Edit Network</h2>

<% form_for(@network) do |f| %>
	<table>
		<tr><th<%= f.label :designation %><td><%= f.text_field :designation %></tr>
	</table>
  <p style="text-align: center">
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p class="navigation">
	<%= link_to 'Show', @network %> |
	<%= link_to 'Index', networks_path %> |
	<%= link_to 'Delete', @network, :confirm => 'Are you sure?', :method => :delete %>
</p>
