<h2>List Schedules</h2>

<table>
	<tr><th>Description<th>Default Day<th>Default Time<th>Network</tr>

<% @schedules.each do |schedule| %>
	<tr>
		<td><%= link_to schedule.description, schedule %></td>
		<td><%= schedule.default_day %></td>
		<td><%= schedule.printable_time %></td>
		<td><%= schedule.network.designation %></td>
  </tr>
<% end %>
</table>

<p class="navigation">
	<%= link_to 'New', new_schedule_path %>
</p>
