<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= LOCAL['church_name'] %> Attendance</title>
  <%= stylesheet_link_tag 'jquery.mobile' %>
  <%= stylesheet_link_tag 'jquery.mobile.structure' %>
  <%= stylesheet_link_tag 'jquery.mobile.theme' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery.mobile.js' %>
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, maximum-scale=2">
	<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>

<%= yield  %>

</body>
</html>
